.content {
    background-color: azure;
    height: 320px;
    width: 40%;
    margin: 120px auto;
    text-align: center;
}

.content h3 {
    text-align: center;
    padding: 32px;
}

.content button {
    background-color: black;
    border: none;
    color: antiquewhite;
    width: 120px;
    padding: 8px;
    border-radius: 5px;
}


#author {
    font-style: italic;
    font-weight: bold;
}

p {
    padding:8px;
}
